*{
    margin: 0;
    padding: 5px 5px;
    box-sizing: border-box;
}

body{
    background-image: url(./img/backgruond.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    gap: 5px;
    height: 200px;
    width: 600px;
}

img{
    height: 100%;
    width: 150px;
}

.title{
    padding-left: 15px;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 246, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h1{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Main */
main{
    display: contents;
    width: 700px;
}

.title-main-1{
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 6rem;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-main-1 h5{
    font-size: .8rem;
    justify-content: center;
}

.title-main-2{
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 6rem;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-main-2 h5{
    font-size: .8rem;
    justify-content: center;
}

.title-main-3{
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 6rem;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-main-3 h5{
    font-size: .8rem;
    justify-content: center;
}

.title-main-4{
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 10rem;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-main-4 h5{
    font-size: .8rem;
    justify-content: center;
}

.title-main-5{
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 8rem;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-main-5 h5{
    font-size: .8rem;
    justify-content: center;
}

.detalles{
    display: block;
}

.title-1{
    text-transform: capitalize;
}

.texto{
    max-width: 800px;
}

.progress{
    max-width: 800px;
}

.progress-bar{
    height: 100px;
}